Database:

Game Name with key
Redemption status
Redemption Platform

GUI
Search Box (By game name) - remove uppercases
List of keys (table) - redeemed? tick box

Add key button
-Game Name
-key
-Platform dropdown (option to add new platform)


Automation
-Automate reading of the current excel spreadsheet and adding the keys to the db
-- This will also be useful for doing key-dumps rather than adding them one by one manually
